<mat-card>
  <mat-card-title>
    <span>Available Claims</span>
  </mat-card-title>
  <mat-card-content>
    <table [dataSource]="dataSource" class="main-table" mat-table>

      <!-- Position Column -->
      <ng-container matColumnDef="claimId">
        <th *matHeaderCellDef mat-header-cell> Standard Attribute</th>
        <td *matCellDef="let element" mat-cell>
          <a [routerLink]="['/claim', 'detail', element.id]" href=""> {{element.standardAttribute}}</a>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="claimType">
        <th *matHeaderCellDef mat-header-cell> Claim Type</th>
        <td *matCellDef="let element" mat-cell> {{element.claimType}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="standardAttribute">
        <th *matHeaderCellDef mat-header-cell> Standard Attribute</th>
        <td *matCellDef="let element" mat-cell>{{element.standardAttribute}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let element" mat-cell>{{element.description}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
