<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Claim "<b>{{claim.standardAttribute}}</b>"</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="claim.custom">Custom Claim</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!claim.custom">Standard Claim</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
      <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'general')"
                        [editControl]="ctrl" fxFlex="99" fxFlex.gt-xs="49" fxFlex.gt-md="32">
      </app-dynamic-edit>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" [routerLink]="['/claim', 'detail', claim.id]">
      <mat-icon aria-label="List Claim">cancel</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="resetClaim()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
