<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Scope "<b>{{scope.scopeId}}</b>"</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-xs="row wrap">
      <mat-form-field class="full-width">
        <mat-label>Scope Id</mat-label>
        <input [(ngModel)]="scope.scopeId" matInput readonly>
        <mat-hint>Scope id is used to request the scope</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Scope Name</mat-label>
        <input [(ngModel)]="scope.scopeName" matInput>
        <mat-hint>Display name of scope</mat-hint>
      </mat-form-field>
    </div>
    <table [dataSource]="dataSource" class="main-table" mat-table>

      <!-- Position Column -->
      <ng-container matColumnDef="standardAttribute">
        <th *matHeaderCellDef mat-header-cell> Claim Attribute</th>
        <td *matCellDef="let element" mat-cell>{{element.standardAttribute}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="claimType">
        <th *matHeaderCellDef mat-header-cell> Claim Type</th>
        <td *matCellDef="let element" mat-cell> {{element.claimType}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell> Delete</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="removeClaim(element.id)" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="reset()" color="accent" mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <button (click)="delete()" *ngIf="scope.custom" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
    <button (click)="save()" color="primary" mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
    <button (click)="addClaim()" color="primary" mat-icon-button>
      <mat-icon>library_add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
