<mat-card>
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="change-password-form">
      <mat-form-field class="change-password-full-width">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Old Password">
      </mat-form-field>

      <mat-form-field class="change-password-full-width">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password">
      </mat-form-field>

      <mat-form-field class="change-password-full-width">
        <mat-label>Repeat new Password</mat-label>
        <input matInput placeholder="Repeat new Password">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/">Cancel</button>
    <button mat-raised-button color="accent">Change</button>
  </mat-card-actions>
</mat-card>
