<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Audit Event List</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <mat-card>
          <mat-card-title>
            <span>Available Events</span>
          </mat-card-title>
          <mat-card-content>
            <table [dataSource]="dataSource" class="main-table" mat-table>

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell> ID</th>
                <td *matCellDef="let element" mat-cell>
                  <a (click)="showDetails(element)" href="#">{{element.id}}</a>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="eventName">
                <th *matHeaderCellDef mat-header-cell> Event Name</th>
                <td *matCellDef="let element" mat-cell> {{element.eventName}}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="eventTime">
                <th *matHeaderCellDef mat-header-cell> Event Time</th>
                <td *matCellDef="let element" mat-cell> {{element.eventTime}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="authType">
                <th *matHeaderCellDef mat-header-cell> Auth Type</th>
                <td *matCellDef="let element" mat-cell> {{element.authType}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="principleName">
                <th *matHeaderCellDef mat-header-cell> Principle Name</th>
                <td *matCellDef="let element" mat-cell> {{element.principleName}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="principleType">
                <th *matHeaderCellDef mat-header-cell> Principle Type</th>
                <td *matCellDef="let element" mat-cell> {{element.principleType}}</td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
