<mat-toolbar>
  <span>User Management</span>
  <span fxFlex="1 1 auto"></span>
  <button (click)="lockUser()" *ngIf="activeUser && activeUser.active" color="warn" mat-icon-button>
    <mat-icon>lock</mat-icon>
  </button>
  <button (click)="enableUser()" *ngIf="activeUser && !activeUser.active" color="primary" mat-icon-button>
    <mat-icon>lock_open</mat-icon>
  </button>
  <button *ngIf="activeUser" [routerLink]="['/user', 'edit', activeUser.username]" color="primary" mat-icon-button>
    <mat-icon aria-label="Create new user">edit</mat-icon>
  </button>
  <button color="primary" mat-icon-button routerLink="/user">
    <mat-icon aria-label="Create new user">format_list_bulleted</mat-icon>
  </button>
  <button color="warn" mat-icon-button routerLink="/user/create">
    <mat-icon aria-label="Create new user">add_circle</mat-icon>
  </button>
</mat-toolbar>
<router-outlet (activate)="subscribeUsername($event)" (deactivate)="unSubscribeUsername()"></router-outlet>

