<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Claim "<b>{{claim.standardAttribute}}</b>"</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="claim.custom">Custom Claim</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!claim.custom">Standard Claim</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayout.gt-xs="row wrap">
      <app-display-element [value]="claim.standardAttribute"
                           displayName="Standard Attribute"
                           fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
      </app-display-element>
      <app-display-element [value]="claim.description"
                           displayName="Description"
                           fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
      </app-display-element>
      <app-display-element [value]="claim.claimType"
                           displayName="Claim Type"
                           fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
      </app-display-element>
      <app-display-element [value]="claim.custom"
                           displayName="Custom Attribute"
                           fxFlex="100"
                           fxFlex.gt-md="32" fxFlex.gt-xs="49" yesNo="true">
      </app-display-element>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="claim.custom" [routerLink]="['/claim', 'edit', claim.id]" color="primary" mat-icon-button>
      <mat-icon aria-label="Go back to detail">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
