<div [formGroup]="editControl.formGroup" [ngSwitch]="editControl.type" class="full-width">
  <mat-form-field *ngSwitchCase="'text'" class="full-width">
    <mat-label>{{editControl.label}}</mat-label>
    <input [formControlName]="editControl.name" [readonly]="editControl.isReadonly" matInput>
    <mat-hint *ngIf="editControl.hint">{{editControl.hint}}</mat-hint>
    <mat-hint *ngIf="!editControl.hint && editControl.claimName">User attribute '{{editControl.claimName}}'</mat-hint>
  </mat-form-field>
  <mat-form-field *ngSwitchCase="'date'" class="full-width">
    <mat-label>{{editControl.label}}</mat-label>
    <input [formControlName]="editControl.name" [matDatepicker]="picker" [readonly]="editControl.isReadonly" matInput>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint *ngIf="editControl.hint">{{editControl.hint}}</mat-hint>
    <mat-hint *ngIf="!editControl.hint && editControl.claimName">User attribute '{{editControl.claimName}}'</mat-hint>
  </mat-form-field>
</div>
