<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/user" routerLinkActive="active">User Management</a>
      <a mat-list-item href="#" routerLink="/client" routerLinkActive="active">Client Management</a>
      <a mat-list-item href="#" routerLink="/scope" routerLinkActive="active">Scope Management</a>
      <a mat-list-item href="#" routerLink="/claim" routerLinkActive="active">Claim Management</a>
      <a mat-list-item href="#" routerLink="/audit" routerLinkActive="active">Audits</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Identity Administration</span>
      <span fxFlex="1 1 auto"></span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon aria-label="Profile menu">more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item *ngIf="!oAuthService.hasValidAccessToken()"
                (click)="oAuthService.initLoginFlow()">Sign In
        </button>
        <button mat-menu-item *ngIf="oAuthService.hasValidAccessToken()" routerLink="/logout">Sign Out
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
