<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngIf="oAuthService.hasValidAccessToken()" dense>
      <h3 matSubheader>Management</h3>
      <mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        <a href="#" mat-list-item routerLink="/user" routerLinkActive="active">Users</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>settings_applications</mat-icon>
        <a href="#" mat-list-item routerLink="/client" routerLinkActive="active">Clients</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>receipt</mat-icon>
        <a href="#" mat-list-item routerLink="/scope" routerLinkActive="active">Scopes</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>format_list_bulleted</mat-icon>
        <a href="#" mat-list-item routerLink="/claim" routerLinkActive="active">Claims</a>
      </mat-list-item>
      <h3 matSubheader>Monitoring</h3>
      <mat-list-item>
        <mat-icon matListIcon>vpn_key</mat-icon>
        <a href="#" mat-list-item routerLink="/audit" routerLinkActive="active">Audits</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="!oAuthService.hasValidAccessToken()">
      <mat-list-item>
        <mat-icon matListIcon>account_circle</mat-icon>
        <a (click)="login()" href="#" mat-list-item>Sign In</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Identity Administration</span>
      <span fxFlex="1 1 auto"></span>
      <button [matMenuTriggerFor]="appMenu" mat-icon-button>
        <mat-icon aria-label="Profile menu">more_vert</mat-icon>
      </button>
      <mat-menu #appMenu="matMenu">
        <button (click)="login()" *ngIf="!oAuthService.hasValidAccessToken()" mat-menu-item>Sign In
        </button>
        <button *ngIf="oAuthService.hasValidAccessToken()" mat-menu-item routerLink="/logout">Sign Out
        </button>
        <button *ngIf="oAuthService.hasValidAccessToken()" mat-menu-item routerLink="/change-password">Change Password
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
