<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Edit user "<b>{{user.username}}</b>"</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="user.admin">Admin User</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!user.admin">General User</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'general')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-xs="49" fxFlex.gt-md="32">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Profile Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'profile')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-xs="49" fxFlex.gt-md="32">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'address')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-xs="49" fxFlex.gt-md="32">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Communication Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'communication')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-xs="49" fxFlex.gt-md="32">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" [routerLink]="['/user', 'detail', user.username]">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="resetUser()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="warn" *ngIf="user.active" (click)="lockUser()">
      <mat-icon>lock</mat-icon>
    </button>
    <button mat-icon-button color="primary" *ngIf="!user.active" (click)="enableUser()">
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
