<div [ngSwitch]="editControl.type" [formGroup]="editControl.formGroup" class="full-width">
  <mat-form-field *ngSwitchCase="'text'" class="full-width">
    <mat-label>{{editControl.label}}</mat-label>
    <input matInput [formControlName]="editControl.name" [readonly]="editControl.isReadonly">
    <mat-hint *ngIf="editControl.hint">{{editControl.hint}}</mat-hint>
    <mat-hint *ngIf="!editControl.hint && editControl.claimName">User attribute '{{editControl.claimName}}'</mat-hint>
  </mat-form-field>
  <mat-form-field *ngSwitchCase="'date'" class="full-width">
    <mat-label>{{editControl.label}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="editControl.name" [readonly]="editControl.isReadonly">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint *ngIf="editControl.hint">{{editControl.hint}}</mat-hint>
    <mat-hint *ngIf="!editControl.hint && editControl.claimName">User attribute '{{editControl.claimName}}'</mat-hint>
  </mat-form-field>
</div>
