<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{client.clientName || 'New Client'}} <span class="dot-inactive"></span></h5>
    <p class="card-text">Create a new Client</p>
  </div>
  <mat-tab-group>
    <mat-tab label="General">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.clientId" matInput placeholder="Client ID">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.clientName" matInput placeholder="Client Name" required>
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.expiryDate" matInput placeholder="Expiry Date" type="datetime-local">
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Configurations">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.redirectUri" matInput placeholder="Redirect URI" required type="url">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.accessTokenValidity" matInput placeholder="Access Token Validity" required>
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input [(ngModel)]="client.refreshTokenValidity" matInput placeholder="Refresh Token Validity" required>
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Scopes">
      <table [dataSource]="scopeDS" class="main-table" mat-table>
        <ng-container matColumnDef="scopeId">
          <th *matHeaderCellDef mat-header-cell> Scope ID</th>
          <td *matCellDef="let element" mat-cell> {{element.scopeId}}</td>
        </ng-container>

        <ng-container matColumnDef="scopeName">
          <th *matHeaderCellDef mat-header-cell> Scope Name</th>
          <td *matCellDef="let element" mat-cell> {{element.scopeName}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="deleteScope(element.scopeId)" color="accent" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="scopeColumns" mat-header-row></tr>
        <tr *matRowDef='let row; columns: scopeColumns;' mat-row></tr>
      </table>
      <button (click)="addScope()" color="warn" mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
      </button>
    </mat-tab>
  </mat-tab-group>
  <div class="card-body">
    <a [routerLink]="['/client']" class="card-link" href="#">Cancel</a>
    <a (click)="save()" class="card-link" href="#">Save Client</a>
  </div>
</div>
