<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>User "<b>{{user.username}}</b>"</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="user.admin">Admin User</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!user.admin">General User</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap">
          <app-display-element [value]="user.userClaims.name"
                               attrName="name"
                               displayName="Name"
                               fxFlex="100"
                               fxFlex.gt-md="32" fxFlex.gt-xs="49" icon="perm_identity">
          </app-display-element>
          <app-display-element [value]="user.userClaims.preferred_username"
                               attrName="preferred_username"
                               displayName="Preferred Username"
                               fxFlex="100"
                               fxFlex.gt-md="32" fxFlex.gt-xs="49" icon="perm_identity">
          </app-display-element>
          <app-display-element [value]="user.admin"
                               attrName="admin"
                               displayName="Admin"
                               fxFlex="100"
                               fxFlex.gt-md="32"
                               fxFlex.gt-xs="49" icon="build" yesNo="true">
          </app-display-element>
          <app-display-element [value]="user.locked"
                               attrName="locked"
                               displayName="Locked"
                               fxFlex="100"
                               fxFlex.gt-md="32"
                               fxFlex.gt-xs="49" icon="lock" yesNo="true">
          </app-display-element>
          <app-display-element [value]="user.active"
                               attrName="active"
                               displayName="Active"
                               fxFlex="100"
                               fxFlex.gt-md="32"
                               fxFlex.gt-xs="49" icon="offline_bolt" yesNo="true">
          </app-display-element>
          <app-display-element [value]="user.creationDate"
                               attrName="created_on"
                               dateFormat="medium"
                               displayName="Created On"
                               fxFlex="100"
                               fxFlex.gt-md="32" fxFlex.gt-xs="49" icon="face">
          </app-display-element>
          <app-display-element [value]="user.expiryDate"
                               attrName="expiry_date"
                               dateFormat="mediumDate"
                               displayName="Expires On"
                               fxFlex="100"
                               fxFlex.gt-md="32" fxFlex.gt-xs="49" icon="pan_tool">
          </app-display-element>
          <app-display-element [value]="user.passwordExpiryDate"
                               attrName="admin"
                               dateFormat="mediumDate"
                               displayName="Password Expires On"
                               fxFlex="100"
                               fxFlex.gt-md="32" fxFlex.gt-xs="49" icon="vpn_key">
          </app-display-element>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Profile Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap">
          <app-display-element [value]="user.userClaims.given_name"
                               attrName="given_name"
                               displayName="Given Name"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.family_name"
                               attrName="family_name"
                               displayName="Given Name"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.middle_name"
                               attrName="middle_name"
                               displayName="Middle Name"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.nickname"
                               attrName="nickname"
                               displayName="Nickname"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.gender"
                               attrName="gender"
                               displayName="Gender"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.birthdate"
                               attrName="birthdate"
                               dateFormat="mediumDate"
                               displayName="Birth Date"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.zoneinfo"
                               attrName="zoneinfo"
                               displayName="Time Zone"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.locale"
                               attrName="locale"
                               displayName="Locale"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.updated_at"
                               attrName="updated_at"
                               displayName="Updated At"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.profile"
                               attrName="profile"
                               displayName="Profile URL"
                               fxFlex="100" fxFlex.gt-xs="95">
          </app-display-element>
          <app-display-element [value]="user.userClaims.picture"
                               attrName="picture"
                               displayName="Profile Picture URL"
                               fxFlex="100" fxFlex.gt-xs="95">
          </app-display-element>
          <app-display-element [value]="user.userClaims.website"
                               attrName="website"
                               displayName="Website"
                               fxFlex="100" fxFlex.gt-xs="95">
          </app-display-element>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap">
          <app-display-element [value]="user.userClaims.address.formatted"
                               attrName="address.formatted"
                               displayName="Formatted Address"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.address.street_address"
                               attrName="address.street_address"
                               displayName="Street Address"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.address.locality"
                               attrName="address.locality"
                               displayName="Locality"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.address.region"
                               attrName="address.region"
                               displayName="Region"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.address.postal_code"
                               attrName="address.postal_code"
                               displayName="Postal Code"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.address.country"
                               attrName="address.country"
                               displayName="Country"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Communication Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap">
          <app-display-element [value]="user.userClaims.phone_number"
                               attrName="phone_number"
                               displayName="Phone Number"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.phone_number_verified"
                               attrName="phone_number_verified"
                               displayName="Phone Number Verified"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.email"
                               attrName="email"
                               displayName="Email"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
          <app-display-element [value]="user.userClaims.email_verified"
                               attrName="email_verified"
                               displayName="Email Verified"
                               fxFlex="100" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-display-element>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Custom Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap">
          <app-display-element *ngFor="let cAttr of customClaims"
                               [attrName]="cAttr.standardAttribute"
                               [displayName]="cAttr.description"
                               [value]="user.userClaims[cAttr.standardAttribute]" fxFlex="100" fxFlex.gt-md="32"
                               fxFlex.gt-xs="49">
          </app-display-element>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
