<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Create new user</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            General Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'general')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Profile Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'profile')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'address')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Communication Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'communication')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Custom Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center">
          <app-dynamic-edit *ngFor="let ctrl of formService.groupedControl(controls, 'custom')"
                            [editControl]="ctrl" fxFlex="99" fxFlex.gt-md="32" fxFlex.gt-xs="49">
          </app-dynamic-edit>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/user', 'detail', user.username]" color="warn" mat-icon-button>
      <mat-icon>cancel</mat-icon>
    </button>
    <button (click)="resetUser()" color="accent" mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
    <button (click)="save()" color="primary" mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
